<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src="{{rental.image}}" alt="">
    <small>View Larger</small>
  </a>
  <h3>{{link-to rental.title "books.show" rental}}</h3>
  <div class="detail owner">
    <span>Director:</span> {{rental.owner}}
  </div>
  <div class="detail">
    {{rental.description}}
  </div>
  <div class="detail bedrooms">
    <span>Ratings:</span> {{rental.bedrooms}}
  </div>
  <div class="detail bedrooms">
      <span>Year:</span> {{rental.city}}
    </div>
</article>
